extends layout

block content
    .panel.panel-default
      .panel-body
        | VIX hedging Strategy ...
    .panel.panel-default
      .panel-body
        | Low vol and high beta strategy ...
    .panel.panel-default
      .panel-body
        | Combo strategy is about ...
    .col-lg-8
      form.form-horizontal
        fieldset
          legend Comments
          .form-group
            label.col-lg-2.control-label(for='inputEmail') Email
            .col-lg-10
              input#inputEmail.form-control(type='text', placeholder='Email')
          .form-group
            label.col-lg-2.control-label(for='inputPassword') Password
            .col-lg-10
              input#inputPassword.form-control(type='password', placeholder='Password')
              .checkbox
                label
                  input(type='checkbox')
                  | Checkbox
          .form-group
            label.col-lg-2.control-label(for='textArea') Comments
            .col-lg-10
              textarea#textArea.form-control(rows='3')
              span.help-block
                | please leave your kind comments here
          .form-group
            label.col-lg-2.control-label Options
            .col-lg-10
              .radio
                label
                  input#optionsRadios1(type='radio', name='optionsRadios', value='like', checked='')
                  | Like
              .radio
                label
                  input#optionsRadios2(type='radio', name='optionsRadios', value='unlike')
                  | Unlike
          .form-group
            .col-lg-10.col-lg-offset-2
              button.btn.btn-default Cancel
              button.btn.btn-primary(type='submit') Submit
