extends layout
block ribbon
  .jumbotron
    p
      | This strategy trades products of both SPX low volatility index and SPX high beta index. It uses trend following technique to pick the better performer out of these two candidates. In addition it will choose to stay on the sideline when market gets tough.   
    p
      a.btn.btn-primary.btn-sm(href='about') Learn More
        
block content

  .col-lg-4
    .panel.panel-default
      .panel-heading
        h4 Historical Performance 
      .panel-body 
        | Cumulative Return: #{HP}
  .col-lg-4
    .panel.panel-default
      .panel-heading
        h4 Current
      .panel-body
        | Shows current status of market. Under construction
  .col-lg-4
    .panel.panel-default
      .panel-heading
        h4 Trade Recommendation
      .panel-body
        | Under construction