extends layout
block ribbon
  .jumbotron
    h2 Welcome to My Trading Room!
      p
        | give it a try...
      p
        a.btn.btn-primary.btn-sm(href='about') Learn More
        
block content

  .col-lg-4
    .panel.panel-default
      .panel-heading
        h4 Historical Performance 
      .panel-body
        | shows historical performance here. Under construction
  .col-lg-4
      .panel.panel-default
        .panel-heading
          h4 Current
        .panel-body
          | Shows current status of market. Under construction
  .col-lg-4
      .panel.panel-default
        .panel-heading
          h4 Trade Recommendation
        .panel-body
          | Under construction