doctype html
html
  head
    //A Trading Monitoring Website

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //
       Bootstrap CSS 
    link(href='/stylesheets/bootstrap.css', rel='stylesheet', media='screen')
    script(type='text/javascript', src='/javascripts/jquery.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
  body
    //
       Navigation Bar 
    .bodykinda
      .navbar.navbar-default
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-responsive-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a(href='/home') Home
            li
              a(href='/strategy/VIX') VIX Strategy
            li
              a(href='/strategy/HiBetaLoVol') High Beta Low Vol
            li
              a(href='/strategy/Combo') Combo Strategy
            li
              a(href='/about') About
      //
         Navigation Bar 
    
    block ribbon
     
    block content
     
  p
    .navbar-fixed-bottom(href='#')
      |For personal entertainment only. Powered by Node, Express, Bootstrap, and R. Copyright (c) Minfeng Zhu 